
@model List<GradeServiceVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    int SN = 1;
}

<style>


    *, body {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        /* background-color:blue; */
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
        
    }

    html, body {
        height: 100%;
        /* background-color: #152733; */
        overflow: hidden;
    }


    .form-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
    }

        .form-holder .form-content {
            position: relative;
            text-align: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center;
            padding: 60px;
        }

    .form-content .form-items {
        border: 3px solid #fff;
        padding: 40px;
        display: inline-block;
        width: 100%;
        min-width: 540px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        text-align: left;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .form-content h3 {
        color: #fff;
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px;
    }

        .form-content h3.form-title {
            margin-bottom: 30px;
        }

    .form-content p {
        color: #fff;
        text-align: left;
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 30px;
    }


    .form-content label, .was-validated .form-check-input:invalid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
        color: #fff;
    }

    .form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
        width: 100%;
        padding: 9px 20px;
        text-align: left;
        border: 0;
        outline: 0;
        border-radius: 6px;
        background-color: #fff;
        font-size: 15px;
        font-weight: 300;
        color: #8D8D8D;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        margin-top: 16px;
    }


    .btn-primary {
        background-color: #6C757D;
        outline: none;
        border: 0px;
        box-shadow: none;
    }

        .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
            background-color: #495056;
            outline: none !important;
            border: none !important;
            box-shadow: none;
        }

    .form-content textarea {
        position: static !important;
        width: 100%;
        padding: 8px 20px;
        border-radius: 6px;
        text-align: left;
        background-color: #fff;
        border: 0;
        font-size: 15px;
        font-weight: 300;
        color: #8D8D8D;
        outline: none;
        resize: none;
        height: 120px;
        -webkit-transition: none;
        transition: none;
        margin-bottom: 14px;
    }

        .form-content textarea:hover, .form-content textarea:focus {
            border: 0;
            background-color: #ebeff8;
            color: #8D8D8D;
        }

    .mv-up {
        margin-top: -9px !important;
        margin-bottom: 8px !important;
    }

    .invalid-feedback {
        color: #ff606e;
    }

    .valid-feedback {
        color: #2acc80;
    }
</style>

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center shadow pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active">Grade</li>
            </ol>
            <div>
                <a asp-action="Create"><i class="fa fa-plus"></i>Add New Grade</a>
            </div>
        </div>
    </div>
</div>

<section class="content">

    <div class="card-header">
        <h5 class="card-title">Grade</h5>
    </div>
    <div class="card-body">
        <table id="gradetable" class="table table-bordered table-responsive-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Grade Number</th>
                    <th>Designation</th>
                    <th>MinSalary</th>
                    <th>MaxSalary</th>
                    <th>IncrementAmount</th>
                    <th>IncrementNumber<br />(Total Number)</th>
                    <th>IsActive</th>
                    @* <th>IsDeleted</th> *@
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var grade in Model.Where(x=> x.IsActive == true && x.IsDeleted == false))
                {
                    <tr>
                        <td>@SN</td>
                        <td>@grade.GradeNo</td>
                        <td>@grade.Designation</td>
                        <td>@grade.MinSalary</td>
                        <td>@grade.MaxSalary</td>
                        <td>@grade.IncrementAmount</td>
                        <td>@grade.IncrementNumber</td>
                        <td>@grade.IsActive</td>
                        @* <td>@grade.IsDeleted</td> *@
                        <td>
                            @* @Html.ActionLink("Edit", "Edit", new { id = grade.Id }) *@
                            <a asp-action="Edit" asp-controller="Grades" class="btn btn-outline-success btn-sm" asp-route-id="@grade.Id"><i class="fa fa-edit"></i>Edit</a>
                            @* @Html.ActionLink("Delete", "Delete", new { id = grade.Id }) *@
                            <a asp-action="Delete" asp-controller="Grades" class="btn btn-outline-danger btn-sm" asp-route-id="@grade.Id"><i class="fa fa-trash"></i>Delete</a>

                        </td>
                    </tr>
                    SN++;
                }
            </tbody>
        </table>

    </div>
</section>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            $('#Health').addClass('menu-open');
            $('#NewGrade').addClass('active');

            $('#gradetable').DataTable({
                // Configure DataTable options
                "paging": true,
                "ordering": true,
                "info": true,
                order: [[0, 'desc']],
            });

        });
    </script>
  }
